.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  align-items: center;
}

.margin {
  margin-bottom: 1rem;
}

.text {
  width: auto;
  margin-bottom: 1rem;
}
